* {
  font-family: helvetica, arial;
}

nav {
  width: 100%;
  position: fixed;
  top: 0px;
  text-align: center;
  padding-bottom: 1em;
  z-index: 100;
  background-color: white;
  color: grey;
}

main {
  position: absolute;
  margin-top: 2em;
}

del, ins, .red {
  color: red;
}

p, h6 {
  margin-top: 16px;
  margin-bottom: 16px;
}


.in, .out {
  display: flex;
}

.in ul, .out ul {
  list-style: none;
  padding-left: 1em;
  flex: auto;
}

.in h6, .out h6 {
  width: 4em;
}

.in li:before {
  content: "\2192";
  margin: 0 1em;
}

.out li:before {
  content: "\2190";
  margin: 0 1em;
}

.sitem {
  border-left: 2px solid dimgrey;
  margin-left: 4em;
  padding-left: 1em;
}

.sitem h6 {
  padding-left: 1em;
  font-size: inherit;
  font-weight: normal;
}

.sitem p {
  padding-left: 2em;
}

.sitem pre {
  background: #EEEEEE;
  margin: 2em;
  padding: 0.5em 
}
.sitem ol, ul {
  margin-left: 0em;
  padding-left: 4em;
  list-style-position: inside; 
}

.artifact {
  border-radius: 1em;
  background: dimgrey;
  color: white;
  padding: 0em 0.5em 0.25em 0.5em;
  font-size: 65%;
  vertical-align: middle;
}

.tag {
  border-radius: 1em;
  padding: 0.125em 0.5em 0.125em 0.5em;
  border: 1px solid black;
  font-size: 75%
}

.sitem .details {
  display: none;
}

.sitem:hover .details {
  display: block;
}

small {
  color: dimgrey;
}

summary .title {
  font-weight: bold;
  color: black;
}

.id {
  color: dimgrey;
  font-size: 75%;
  text-align: right;
  border-top: 1px solid lightgrey;
  font-family: courier;
}
