**/target/
**/cov-int/
**/.classpath
**/bin
**/*.md.html
**/.settings/org.eclipse.jdt.apt.core.prefs
**/.settings/org.eclipse.core.resources.prefs
doc/**/*.html
/*.html
.flattened-pom.xml
/.idea/
/**/*.iml
/**/.project
.idea/
*.iml
