* {
  font-family: helvetica, arial
}

nav {
  width: 100%;
  position: fixed;
  top: 0px;
  text-align: center;
  padding-bottom: 1em;
  z-index: 100;
  background-color: white;
  color: grey;
}

main {
  position: absolute;
  margin-top: 2em;
}

del, ins {
  color: red;
}

.red {
  color: red;
}

span.ok {
  display: none;
}

span.nok {
  display: none
}

.part {
  color: darkorange;
}

ul.in {
  list-style: none;
  padding-left: 1em;
}

ul.in li:before {
  content: "\2192";
  margin: 0 1em;
}

ul.out {
  list-style: none;
  padding-left: 1em;
}

ul.out li:before {
  content: "\2190";
  margin: 0 1em;
}

.sitem {
  border-left: 2px solid dimgrey;
  margin-left: 4em;
  padding-left: 1em;
}

.artifact {
  border-radius: 1em;
  background: dimgrey;
  color: white;
  padding: 0em 0.5em 0.25em 0.5em;
  font-size: 65%;
  vertical-align: middle;
}

.desc, .rationale, .comment {
  padding-left: 2em;
}

.tag {
  border-radius: 1em;
  padding: 0.125em 0.5em 0.125em 0.5em;
  border: 1px solid black;
  font-size: 75%
}

.sitem .details {
  display: none;
}

.sitem:hover .details {
  display: block;
}

summary {
  color: dimgrey;
}

summary .title {
  font-weight: bold;
  color: black;
}