name: Broken Links Checker

on:
  push:
    branches: [main]
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Configure broken links checker
        run: |
          mkdir -p ./target
          echo '{
            "aliveStatusCodes": [429, 200],
            "ignorePatterns": [
              {
                # The Autosar TLS certificate cannot be validated from GitHub Actions.
                "pattern": "^https://www.autosar.org/"
              }
            ]
          }' > ./target/broken_links_checker.json
      - uses: tcort/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          config-file: ./target/broken_links_checker.json
