name: Build

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [11, 17]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-java-${{ matrix.java }}
      cancel-in-progress: true
    name: "Build with Java ${{ matrix.java }}"
    env:
      DEFAULT_JAVA: 11

    steps:

    - uses: actions/checkout@v3

    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow

    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'

    - name: Cache SonarQube packages
      if: ${{ env.DEFAULT_JAVA == matrix.java }}
      uses: actions/cache@v3
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Build with Maven
      run: mvn --errors --batch-mode clean org.jacoco:jacoco-maven-plugin:prepare-agent install
      env:
        MAVEN_OPTS: "-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"

    - name: Sonar analysis
      if: ${{ env.DEFAULT_JAVA == matrix.java && env.SONAR_TOKEN != null }}
      run: |
        mvn --errors --batch-mode \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=itsallcode \
            -Dsonar.login=$SONAR_TOKEN \
            org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        MAVEN_OPTS: "-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"

    - name: Publish Test Report for Java ${{ matrix.java }}
      uses: scacap/action-surefire-report@v1
      if: ${{ always() && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
      with:
        report_paths: '**/target/surefire-reports/TEST-*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Archive oft binary
      uses: actions/upload-artifact@v3
      if: ${{ env.DEFAULT_JAVA == matrix.java }}
      with:
        name: oft
        path: product/target/openfasttrace-*.jar

    - name: Run self-trace
      run: ./oft-self-trace.sh

    - name: Upload self-tracing report
      uses: actions/upload-artifact@v3
      with:
        name: self-tracing-report
        path: target/self-trace-report.html
        if-no-files-found: error
